.main{
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.cart-list{
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    margin-right: 20px;
    max-height: 600px;
}
.order-summary{
    width: 500px;
    margin-left: 20px;
    height: 150px;
    background-color: rgb(196, 195, 195);
    border-radius: 10px;
    padding: 30px;
}

.order-summary h1{
    color: aliceblue;
}
.order-summary div{
    margin: 10px 10px 10px 0px;
    display: flex;
    font-weight: 700;
}

.order-summary div p{
    padding-right: 20px;
}

.order-summary button{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(98, 98, 255);
    color: azure;
    font-weight: 600;
    font-family: sans-serif;
}

@media screen and (max-width: 1050px) {
    .main{
        padding: 25px;
        background-color: red;
    }
    .order-summary{
        width: 500px;
        margin-left: 10px;
        height: 120px;
        background-color: rgb(196, 195, 195);
        border-radius: 10px;
        padding: 20px;
    }
    
    .order-summary h1{
        color: aliceblue;
        font-size: 20px;
    }
    .order-summary div{
        margin: 10px 10px 10px 0px;
        display: flex;
        font-weight: 700;
    }
    
    .order-summary div p{
        padding-right: 20px;
        font-size: 16px;
    }
    
    .order-summary button{
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        background: rgb(98, 98, 255);
        color: azure;
        font-weight: 600;
        font-family: sans-serif;
    }
    
}