
.card{
    width: 22rem;
    background-color:rgb(29, 29, 29);
    border-radius: 5px 5px 15px 15px;
    margin: 20px;
    padding: 5px;
}

.card_img{
    margin: 5px;
}

.card_img img{
    width:21.4rem;
    height: 20rem;
}
.card_text{
    padding: 5px 10px;
    margin:0;
}
.card_text h2{
    color: azure;
    font-size: 1rem;
    height: 50px;
    margin: 0;
    padding: 0;
}

.card_text p{
    color: rgb(193, 192, 191);
    padding-top: 20px;
}
.buttonarea{
    display: flex;
    justify-content: center;
}
.add{
    margin: 10px;
    padding: 8px 20px;
    background-color: transparent;
    border: solid azure 1px;
    border-radius: 5px;
    color: aliceblue;
}

@media screen and (max-width: 1050px) {
    .card{
        width: 15rem;
        margin: 15px;
    }   
    .card_img img{
        width:14.6rem;
        height: 14rem;
    }
    .card_text h2{
        color: azure;
        font-size: 0.7rem;
        height: 40px;
    }
    .add{
        font-size: 0.7rem;
    }
    .card_text p{
        padding-top: 10px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 550px) {
    .card{
        width: 9.5rem;
        margin: 9.5px;
    }   
    .card_img img{
        width:9rem;
        height: 9rem;
    }
    .card_text h2{
        color: azure;
        font-size: 0.6rem;
        height: 30px;
    }
    .add{
        font-size: 0.6rem;
    }
    .card_text p{
        padding-top: 10px;
        font-size: 0.7rem;
    }
}