.Navbar{
    background-color: rgb(62, 62, 62);
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px 20px;
}
.linenicon{
    height: 40px;
    width: 120px;

}

.linenicon img{
    flex: 1;
    height: 40px;
    width: 120px;
}

.navbutton button{
    border: solid azure 1px;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    width: 80px;
    margin: 5px;
    color: azure;
    border-radius: 2px;
}

.cart{
    text-decoration: none;
    color: aliceblue;
}